.header {
    background-color: #092f39;
    color: white;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

h1, h2, h3 {
    color: #102c35;
}