/*Контейнер-обёртка*/
.container {
    max-width: 1440px;
    margin: 0 auto;
}
h1, h2, h3 {
    color: #102c35;
}

.services__title {
    text-align: center;
    margin: 20px 0;
}

a {
    color: #101c1b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a {
    color: #101c1b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.service-item__title, .doctor-item__name {
    font-size: 18px;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #092f39;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
