.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.services__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #181715;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 0 20px;
}

.service-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px; 
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-item__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px; 
}

.service-item__title {
    font-size: 1.5rem;
    color: #102c35;
    margin: 15px 0; 
    text-align: center; 
}

.service-item__description {
    font-size: 1rem;
    color: #555;
    margin: 10px 0; 
    line-height: 1.5;
    text-align: center; 
}

.service-item .btn {
    display: block;
    width: calc(100% - 40px);
    margin: 20px auto; 
    text-align: center;
    background-color: #27525d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.service-item .btn:hover {
    background-color: #2a868d;
}